body{
	margin:0px;
}
.rating {
	margin-top: 8px;
}
.glyphicon{
	padding-left:2px;
	cursor: pointer;
}
a{
	font-size:17px;
	padding: 0.1px; 
}
.rating a, a:hover{
	text-decoration: none;
}

.form-group button{
	width:100%;
}
.btn-group-lg>.btn, .btn-lg{
	width: 100%
}
.well{
	cursor: pointer;
}

td strong{
	font-size: 20px;
}
#about{
	margin-top: 50px;
}
img {
	width: 140px !important;
	height: 140px !important;
}