<div class="container">
	<div class="row">
		<form ng-submit="!editmode ? saveSong(): update(newsong)">
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Artist name" ng-model="newsong.artist"/>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Song name" ng-model="newsong.song"/>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Song URL" ng-model="newsong.url"/>
				</div>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-2" ng-if="!editmode">
				<div class="form-group">
					<button class="btn btn-primary">Add</button>					
				</div>
			</div>
			<div class="col-md-1" ng-if="editmode">
				<div class="form-group">
					<button class="btn btn-primary">Update</button>					
				</div>
			</div>
			<div class="col-md-1" ng-if="editmode">
				<div class="form-group">
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>					
				</div>
			</div>
		</form>
	</div>
	<table class="table table-stripped table-condensed">
		<tbody>
			<tr ng-repeat="song in songs | orderBy:'song'">
				<td><strong>{{$index+1}}</strong></td>
				<td><strong>{{song.song}}</strong></td>
				<td><strong>{{song.artist}}</strong></td>
				<td>
					<div class="btn btn-success" ui-sref="play({'id':'{{song._id}}'})">		
						<span class="glyphicon glyphicon-play"></span>Watch Video
					</div>
				</td>
				<td>
					<div class="pull-right">
						<div class="pull-left">
							<div rating max="5" score="song.score" set="update(song)" song="song"></div>
						</div>
						<div class="pull-right">
							<div class="btn btn-info" ng-click="editSong(song)">
								<span class="glyphicon glyphicon-pencil"></span>
							</div>
							<div class="btn btn-danger" ng-click="removeSong(song._id)">
								<span class="glyphicon glyphicon-trash"></span>
							</div>
						</div>
					</div>
				</td>	
			</tr>
		</tbody>
	</table>
</div>
